# Masukan API ID ambil di web my.telegram.org
API_ID = "20400887"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "535abea1d0cc67a4be1f57de026a846f"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/StringManRobot
# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION5
STRING_SESSION1 = "BQAhIHQAb36l_As8Uj5g27Kn0tMtdr-m3JDxNXK8cfvQ77d7roIXE3N8sOseJk9DjHXus66P3PcNdS-fDTO8391o8AHmIOWnr03FwoiqoguMpPGrLCK2u16o0-ZiaXU99NEsvd9Wgx9gO-f9GSckqFQkjkS3sen9KsiEfRyvH_7TfOksr0Ifhs8h1eOX4xgnH0uQXDHhWbJQ_Pmb8wsGFJL6itXsYo_0L2OAZZ7qG2vBrw-TnhC7gw4Tos1jdRt4OoSdxW167IgW9I2mV9oQHqzeKLL8LVv8o8XKk6pV_H3cxB6eLXC83eWGSz9_Mua0nC5fX9_Ciycfefz3OLpdxcPe2nsbLwAAAAFgYxJvAA"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = "-1001891076909" # ini adalah integer, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://qhfqcweh:c8Ew52O5IoJH64tRYg0GADXxnMnU7GfQ@mouse.db.elephantsql.com/qhfqcweh"
